#automaticTeamFormButton {
    margin-top: 16px;
}

md-dialog {
    flex: 80;
}

md-dialog h2 {
    margin: 0px;
}

md-dialog table {
    width: 100%;
}

md-dialog table .atf {
    color: red;
}

.padding-left-8 {
    padding-left: 8px;
}
